[package]
name = "bastion"
# Steps to release to crates.io:
# - Remove path dependencies
# - Update CHANGELOG.md.
#   - npm install -g auto-changelog && auto-changelog at the root
# - Create "v0.x.y" git tag at the root of the project.
version = "0.3.5-alpha"
description = "Fault-tolerant Runtime for Rust applications"
authors = ["Mahmut Bulut <vertexclique@gmail.com>"]
keywords = ["fault-tolerant", "runtime", "actor", "system"]
categories = ["concurrency", "asynchronous"]
homepage = "https://github.com/bastion-rs/bastion"
repository = "https://github.com/bastion-rs/bastion"
documentation = "https://docs.rs/bastion"
readme = "../README.md"
license = "Apache-2.0/MIT"
edition = "2018"
exclude = [
	".github/*",
	"examples/*",
	"graphstore/*",
	"tests/*",
	"img/*",
	"ci/*",
	"benches/*",
	"doc/*",
	"*.png",
	"*.dot",
	"*.yml",
	"*.toml",
	"*.md"
]

[badges]
maintenance = { status = "actively-developed" }

[features]
default = []
unstable = ["bastion-executor/unstable"]
distributed = [
  "artillery-core"
]
docs = ["distributed", "default"]


[package.metadata.docs.rs]
features = ["docs"]
rustdoc-args = ["--cfg", "feature=\"docs\""]

[dependencies]
bastion-executor = { version = "= 0.3.5-alpha", path = "../bastion-executor" }
lightproc = { version = "= 0.3.5-alpha.0", path = "../lightproc" }

lever = "0.1.1-alpha.2"
futures = "0.3.5"
futures-timer = "3.0.2"
fxhash = "0.2"
lazy_static = "1.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
pin-utils = "0.1"

# TODO: https://github.com/cogciprocate/qutex/pull/5
# TODO: https://github.com/cogciprocate/qutex/pull/6
bastion-qutex = { version = "0.2", features = ["async_await"] }
uuid = { version = "0.8", features = ["v4"] }

# Distributed
artillery-core = { version = "0.1.0", optional = true }

# Log crates
tracing-subscriber = "0.2.5"
tracing = "0.1.13"

[dev-dependencies]
env_logger = "0.7"
proptest = "0.10"
snap = "1.0"
# prime_numbers example
bastion-utils = { version = "0.3.2", path = "../bastion-utils" }
rand = "0.7.3"
rayon = "1.3.0"
num_cpus = "1.13.0"
