name: Unleash MIRI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-01-01
          override: true
      - uses: davidB/rust-cargo-make@v1
        with:
          version: '0.30.0'
      - name: Miri
        env:
          RUST_BACKTRACE: full
          RUST_LOG: 'trace'
        run: |
          rustup component add miri
          cargo miri setup
          cargo clean
          # Do some Bastion shake
          cd src/bastion && \
            cargo miri test --features lever/nightly -- -Zmiri-disable-isolation -Zmiri-ignore-leaks -- dispatcher && \
            cargo miri test --features lever/nightly -- -Zmiri-disable-isolation -Zmiri-ignore-leaks -- path && \
            cargo miri test --features lever/nightly -- -Zmiri-disable-isolation -Zmiri-ignore-leaks -- broadcast && \
            cargo miri test --features lever/nightly -- -Zmiri-disable-isolation -Zmiri-ignore-leaks -- children_ref && \
            cd -
